<!doctype html>

<html lang="en">
{% include 'includes/head.html' %}
<body>
    <h3>Room ID: {{room_id}}</h3>
    <p>Refresh the page to update the list</p>
    <ul>
        {% for player in users %}
        <li>{{users[player]['name']}}  </li>
        {% endfor %}
    </ul>
    <a href="/start" class="button">Start</a>
    <div class="log controls-wrapper">
        <ul class="events"></ul>
        <div class="controls">
            <div class="chat-wrapper">
                <div class="chat-form">
                    <input type="text" class="chat" value="{{username}}"/>
                    <button class="send">Send</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
