<!doctype html>

<html lang="en">
{% include 'includes/head.html' %}
<body>
  <div id="title">
    <h2><span style="font-weight: bold; color:#9b4dca;">Broken Speech</span></h2>
  </div>
  <h3>Create Room</h3>
    <form action="/create" method="GET">
        <fieldset>
          <label for="name">Name</label>
          <input type="text" placeholder="Name" id="name" name="name">
          <input class="button-primary" type="submit" value="Create Room">
        </fieldset>
    </form>
  <hr />
  <h3>Join Room</h3>
    <form action="/join" method="GET">
        <fieldset>
          <label for="name">Name</label>
          <input type="text" placeholder="Name" id="name" name="name">
          <label for="roomID">Room ID</label>
          <input type="text" placeholder="Room ID" id="roomID" name="roomID">
          <input class="button-primary" type="submit" value="Join Room">
        </fieldset>
    </form>
      <h2><span style="color:#9b4dca; font-weight: bold;">Rules</span></h2>
      <ol>
        <li>Create a Discord server or any voice channel of your choice and invite your friends.</li>
        <li>Create or join a room.</li>
        <li>Take turns in describing a random picture to each other using only geometry forms. <br> <span style="color: rgba(96, 108, 118, 0.7);"> e.g. Draw two small circles on both sides of the screen; draw a line connecting those circles; ...</span> </li>
        <li>Compare your results and laugh at your friends.</li>
      </ol>
</body>
</html>
